# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
# *.jsonl
playground/data_VT/*.json
playground/data_VT/*.jsonl
playground/data_VT/**/*.json
playground/data_VT/**/*.jsonl


# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# My
playground/data/eval
playground/data_VT/eval
playground/data_VT.zip
scripts/log